@keyframes question--out {
  from {
    opacity: 1;
  }

  to {
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }
}

@keyframes question-item--in {
  from {
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }

  to {
    opacity: 1;
  }
}

.question {
  padding: 10px;

  &--answered {
    animation: question--out .3s ease-out forwards .9s;
  }

  &__text,
  &__option {
    animation: question-item--in .3s ease-out forwards;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
  }

  &__option {
    background: lightgrey;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
    margin-top: 10px;
    opacity: 0;
    padding: 10px;

    &--0 {
      animation-delay: .5s;
    }

    &--1 {
      animation-delay: .7s;
    }

    &--2 {
      animation-delay: .9s;
    }

    &--3 {
      animation-delay: 1.1s;
    }

    &--correct {
      animation: pulse .3s;
      background: limegreen;
      opacity: 1;
    }

    &--incorrect {
      animation: shake .3s;
      background: red;
      opacity: 1;
    }
  }
}
