@import '../shared/media-queries';

@keyframes quiz--fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quiz {
  height: 100%;
  overflow-y: auto;

  &--active {
    animation: quiz--fadeIn .5s ease-out;
  }

  &__contents {
    padding-bottom: 40px;
    padding-top: 45px;
    z-index: 0;

    @include medium-viewport {
      & {
        padding-bottom: unset;
      }
    }

    @include large-viewport {
      & {
        margin: 0 auto;
        padding-top: 10px;
        width: 1024px;
      }
    }
  }
}
