@keyframes welcome__text--in-out {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  33%, 66% {
    filter: blur(0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes welcome__button--in {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  from {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0);
  }

  20%, to {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  }

  0% {
    filter: blur(10px);
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    filter: blur(0);
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes welcome__button--out {
  0% {
    opacity: 1;
  }

  20% {
    transform: translate3d(0, -10px, 0);
  }

  30% {
    filter: blur(0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0);
    filter: blur(10px);
    opacity: 0;
    transform: translate3d(0, -200vh, 0);
  }
}

.welcome {
  font-weight: bold;
  white-space: nowrap;

  &__heading, &__question, &__button {
    height: 50px;
    left: calc(50% - 100px);
    line-height: 50px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 25px);
    width: 200px;
  }

  &__heading, &__question {
    animation: welcome__text--in-out 1.2s ease-out;
    text-align: center;
  }

  &__heading {
    font-size: 32px;
  }

  &__question {
    animation-delay: .9s;
  }

  &__button {
    animation: welcome__button--in .6s ease-out 1.9s forwards;
    background: limegreen;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
    left: calc(50% - 25px);
    user-select: none;
    width: 50px;
    -webkit-tap-highlight-color: transparent;
  }

  &--ready {
    & .welcome__button {
      animation: welcome__button--out 1s ease-out;
    }
  }
}
