html, body, .container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/**
 * Commented rules from https://github.com/necolas/normalize.css/blob/master/normalize.css
 *
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  touch-action: none;
  overflow-x: hidden;
}

/**
 * From https://github.com/necolas/normalize.css/blob/master/normalize.css
 *
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Commented rules from https://github.com/necolas/normalize.css/blob/master/normalize.css
 *
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
